
body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

h1,h2,h3,h4 {
  font-family: sans-serif;
}




#nav_wrapper {
  padding: 20px 20px 0px 20px;
  background-color: #fff;
}

#nav_logo {
  display: inline;
}

#nav_home {
  display: inline;
  float: right;
}

#nav_hamburger {
  display: inline;
  float: right;
}

.nav_text {
  padding: 12px 0px 12px 12px;
  font-family: sans-serif;
  font-weight: 900;
  color: #f00;
}



#menu_wrapper {
  padding: 10px 20px 1px 20px;
  background-color: #fff;
  font-family: Times Roman;
}









.menu_item:link,.menu_item:visited,.phone_number,.sms_number{
	font-family: sans-serif;
	font-weight: 900;
	color: #00c;
}





.article {
  padding: 10px 20px 20px 20px;
  background-color: #ac8;
  font-family: Times Roman;
}

.article img {
	max-width: 100%;
	height: auto;
}

@media (min-width: 600px) {
	.article img {
		width: 600px;
	}
}








#footer_wrapper {
  padding: 10px 20px 10px 20px;
  background-color: #111;
  color: #ddd;
  font-family: sans-serif;
}

    .footer-grid-container {
      display: grid;
      grid-template-columns: repeat(3, 350px); /* Three columns, each 300px wide */
      gap: 10px; /* Adjust the gap between columns */
    }

    .footer-grid-item {
      border: 0px solid #ccc;
      padding: 0px;
      text-align: left;
    }

    @media (max-width:1120px) {
      /* Two rows for screens between 360px and 759px */
      .footer-grid-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
      }
    }

    @media (max-width: 760px) {
      /* Three rows for screens below 360px */
      .footer-grid-container {
        grid-template-columns: 1fr; /* One column */
      }
    }