

body {
  background-color: #fff;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(97);
  gap: 0px;
  grid-auto-rows: minmax(20px, auto);
}

.one {
  grid-column: 1;
  grid-row: 1;
  background-color: #fff;
}

.two {
  grid-column: 2;
  grid-row: 1;
  background-color: #ed8;
}

.three {
  grid-column: 3;
  grid-row: 1;
  background-color: #ed8;
}

.four {
  grid-column: 4 / 97;
  grid-row: 1;
  background-color: #ed8;
}

.nav {
  padding: 14px 0px 14px 14px;
  font-family: sans-serif;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
}

.nav_border_left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav_border_right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
