<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radio Buttons Example</title>
</head>
<body>

<form action="http://localhost:5000" method="post" id="myForm">
  
    <fieldset>
      <legend>q1</legend>
      
        <label>
          <input type="radio" name="q1" value="option1">
          Option 1
        </label><br>
      
        <label>
          <input type="radio" name="q1" value="option2">
          Option 2
        </label><br>
      
        <label>
          <input type="radio" name="q1" value="option3">
          Option 3
        </label><br>
      
    </fieldset>
  
    <fieldset>
      <legend>q2</legend>
      
        <label>
          <input type="radio" name="q2" value="option1">
          Option 1
        </label><br>
      
        <label>
          <input type="radio" name="q2" value="option2">
          Option 2
        </label><br>
      
        <label>
          <input type="radio" name="q2" value="option3">
          Option 3
        </label><br>
      
    </fieldset>
  
  <input type="submit" value="Submit">
</form>

</body>
</html>
